@use '../utils/' as *;

.about-container {
    position: relative;
    background-color: var(--color-bg-color);
    width: 100vw;
    
    .custom-shape-divider-bottom-1634965345 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        opacity: .3;
    
        svg {
            position: relative;
            display: block;
            width: calc(123% + 1.3px);
            height: rem(107px);
        }
    
        .shape-fill {
            fill: #9B9B9B;
        }
    }

    .about {
        height: calc(100vh - 200px);
        max-width: rem(1366px);
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding-top: 3rem;
    
    @include breakpoint-down(large) {
        max-width: rem(1023px);
    }

    @include breakpoint-down(medium) {
        max-width: rem(639px);
        flex-direction: column;
    }

    @include breakpoint-down(small) {
        max-width: rem(639px);
        height: calc(100vh - 100px);
        flex-direction: column-reverse;
        }

        &_header {
            width: 50%;

            @include breakpoint-down(medium) {
                display: flex;
                flex-direction: column;
                margin: 0 auto;
                padding-top: rem(80px);
                width: 70%;
            }

            &__title {
                margin-bottom: 1rem;
                font-size: var(--font-h2);

                @include breakpoint-down(medium) {
                    text-align: center;
                }
            }

            &__text {
                width: 80%;
                color: green;

                @include breakpoint-down(medium) {
                    text-align: center;
                    margin: 0 auto;
                    width: 100%;
                }
            }
        }
        
        &_image {
            height: rem(400px);
            width: rem(400px);
            display: flex;
            justify-content: center;
            align-items: center;
            
            @include breakpoint-down(small) {
                height: rem(10px);
            }
        
            
            &__img {
                width: 100%;
                
                @include breakpoint-down(medium) {
                    width: 80%;
                    padding-bottom: -rem(20px);
                }

                @include breakpoint-down(small) {
                    width: 60%;
                }
            }
        }
    }
}