@use '../utils' as *;

.article-section-bg {
    background-color: var(--color-bg-light);
    width: 100vw;
    position: relative;
    margin-top: rem(50px);

    .custom-shape-divider-top-1635070899 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    
        svg {
            position: relative;
            display: block;
            width: calc(191% + 1.3px);
            height: 144px;
            transform: rotateY(180deg);
        }
    
        .shape-fill {
            fill: #FFFFFF;
        }
    }

    .custom-shape-divider-bottom-1635078703 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;

        svg {
            position: relative;
            display: block;
            width: calc(191% + 1.3px);
            height: 90px;
            transform: rotateY(180deg);
        }

        .shape-fill {
            fill: #130F24;
        }
    }
}

.article-section-container {
    margin-top: rem(50px);
    max-width: rem(1366px);
    margin: 0 auto;
    padding: rem(50) 0;

    @include breakpoint-down(large) {
        max-width: rem(1023px);
    }

    @include breakpoint-down(medium) {
        max-width: rem(639px);
    }

    @include breakpoint-down(small) {
        margin-top: rem(-40px);
    }

    .article-section {
        &_title {
            color: var(--color-text-title);
            font-family: var(--font-title);
            font-size: var(--font-h2);
            margin-bottom: rem(30px);
            margin-top: rem(80px);

            @include breakpoint-down(medium) {
                margin-top: rem(50px);
            }
            
            @include breakpoint-down(small) {
                text-align: center;
            }
        }
    }

    .articles-section {
        
        .articles-list {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-bottom: rem(100px);

            @include breakpoint-down(large) {
                flex-wrap: wrap;
                flex-basis: 25%;
                justify-content: space-between;
            }

            @include breakpoint-down(medium) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                max-width: rem(639px);
                margin: 0 auto;
                margin-bottom: rem(50px);
            }

            @include breakpoint-down(small) {
                display: block;
                margin: 0 auto;
            }

            .article-container {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                margin: rem(20px) auto;
                min-height: rem(300px);
                min-width: rem(300px);
                max-width: rem(500px);
                padding: 0 rem(30px);

                @include breakpoint-down(large) {
                    padding-bottom: rem(20px);
                    min-width: rem(150px);
                    max-width: rem(230px);
                    padding: 0;
                }

                @include breakpoint-down(medium) {
                    max-width: rem(300px);
                }

                &_box {
                    background-color: white;
                    border-radius: rem(20px);
                    padding: rem(10px);
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .articles_cta {
                        button {
                            border-radius: rem(15px);
                            margin-top: rem(10px);
                        }
                        }
                }
            }

            &_figure {
                height: rem(200px);
                width: inherit;
                
                &__image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: rem(15px);
                }
            }

            &_author {
                color: var(--color-text-author);
                font-size: var(--font-small);
                margin: rem(5px) 0;
            }

            &_title {
                margin-bottom: rem(10px);
            }

            &_text {
                color: var(--color-text-general);
                font-size: var(--font-description);
            }
        }
    }
}