@use '../utils' as *;

.cta {
    button {
        padding: rem(12px) rem(20px);
        border: none;
        border-radius: rem(30px);
        background: linear-gradient(45deg, rgba(80,101,168,1) 0%, rgba(252,70,107,1) 100%);
        color: rgba(241, 229, 205, 1);
        font-family: var(--font-general);
        font-weight: var(--font-bold);
        text-align: center;

        &:hover {
            opacity: .9;
            transform: scaleX(1.02);
            transition-duration: .2s;
            transition-timing-function: ease-in;
            color: white;
            cursor: pointer;
        }
    }
}