@use '../utils' as *;

.footer-container {
    background-color: var(--color-bg-dark);
    height: 200px;
    width: 100vw;
    color: white;
    display: flex;
    align-items: center;

    &-box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        min-width: rem(1366px);
        margin: 0 auto;

        .left-block {
            .footer_logo {
                img {
                    height: rem(50px);
                }
            }
        }

        .center-block {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }
}