@use '../utils' as *;

.footer-container {
    background-color: var(--color-bg-dark);
    height: rem(200px);
    width: 100vw;
    color: var(--color-text-link);
    display: flex;
    align-items: center;

    @include breakpoint-down(small) {
        display: block;
        height: rem(100px);
    }

    &-box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: rem(1366px);
        min-width: rem(1366px);
        min-height: 70%;
        margin: 0 auto;

        @include breakpoint-down(large) {
            min-width: rem(1023px);
        }

        @include breakpoint-down(small) {
            max-width: rem(639px);
            min-width: rem(200px);
            justify-content: center;
        }

        .left-block {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            @include breakpoint-down(small) {
                justify-content: center;
            }

            .footer_logo {
                img {
                    height: rem(50px);
                }

                @include breakpoint-down(small) {
                    display: none;
                }
            }

            .social-links {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                height: rem(30px);

                &_badge {
                    height: rem(30px);
                    width: rem(30px);

                    @include breakpoint-down(small) {
                        margin: rem(20px);
                        transform: scale(1.4);
                    }

                    &:hover {
                        cursor: pointer;
                        color: #D95585;
                        transform: scale(0.9)
                    }
                }
            }
        }

        .center-block {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            min-width: 30%;

            .footer-nav_link {
                &:hover {
                    color: hsl(0, 0%, 100%);
                    cursor: pointer;
                }
            }

            @include breakpoint-down(medium) {
                display: none;
            }
        }

        .right-block {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-around;

            @include breakpoint-down(small) {
                display: none;
            }
        }
    }
}