:root {
    // Colors
    --color-bg-color: hsl(337, 55%, 90%);
    --color-bg-light: hsl(220, 34%, 95%);
    --color-bg-dark: hsl(251, 41%, 10%);
    // Text colors
    --color-text-general: hsl(238, 31%, 31%);
    --color-text-title: hsl(237, 32%, 49%);
    --color-text-author: hsl(237, 42%, 67%);
    --color-text-link: hsl(40, 56%, 87%);
}