@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,700;1,600&family=Poppins:ital,wght@0,100;0,300;0,600;1,400&display=swap');

:root {
    //Fonts
    --font-title: 'Montserrat', sans-serif;
    --font-general: 'Poppins', sans-serif;
    //Font-weights
    --font-light: 100;
    --font-regular: 300;
    --font-medium: 400;
    --font-semi-bold: 600;
    --font-bold: 700;
    //Font-sizes
    --font-h1: 55px;
    --font-h2: 30px;
    --font-sub-titles: 18px
}